.text-fxbtg {
  color: #ffa61a;
}
a.text-fxbtg:hover {
  color: #fc9200;
}
.demo-logo small{
letter-spacing: 6px;
  padding-top: 0; }
.demo-headline {
  padding: 10px 0 10px;
  text-align: center;
}
.navbar {
  margin-bottom: 0;
}
.demo-logo {
  font: 600 90px/90px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;
  margin: 10px 0;
}
.carousel-inner {
  margin-bottom: 20px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: #ffa207;
  color:#2f4154;
}
.nav li>a:hover, .nav li>a:focus {
  background-color: #ffbf0f;
  color:#2f4154;
}
.zan-text-2 {
  text-align: left;
}
.tile h3{padding-bottom: 10px}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}